body {
    font-family:Arial, Helvetica, sans-serif !important;
    position: relative;
}
/* Navbar */
.nav-section {
    position: sticky;
    top: 0;
    z-index: 20;
}
.bg-body-tertiary {
    box-shadow: 0 2px 5px gray;
}
/* .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: center;
}
.nav-container .nav-item a {
    color: #D988A1 !important;
    font-size: 18px;
    font-weight: 700;
    margin: 0 10px;
    transition: color 0.3s ease;
} */
 .nav-container .nav-item a {
    color: #D988A1 !important;
    font-weight: 700;
 }
.nav-item a:hover {
    color: var(--bs-pink) !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
}
.nav-container {
    padding: 0px 20px;
}
.logo {
    font-weight: 900;
    margin-left: 40px;
    font-size: 25px;
}
.logo span {
    color: #D988A1;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar .container-fluid .icons {
    display: block;
    margin-right: 40px;
}
.navbar .container-fluid .icons i {
    margin: 0 8px;
    cursor: pointer;
}
.navbar .container-fluid .icons i:hover {
    color:var(--bs-pink) !important;
}
/* Responsive Navbar */
@media(max-width:992px){
    .navbar .container-fluid .icons {
        display: none !important;
    }
    .collapse:not(.show) {
     display: none !important;
    }
    .show ul {
     width: 100%;
    }
    .show ul li {
     width: 100%;
     color: black;
     display: flex;
     justify-content: center;
    }
}

